.body {
  height: 100vh;
  margin: 0;
  background-image: url("./assets/background.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
}

.content {
  margin: auto;
  width: 60%;
  padding: 10px;
  height: 60vh;
}
